body {
    overflow-x: hidden;
}

html h6 {
    font-size: 15px;
    font-weight: 600;
}

.text-muted {
    font-size: 10px;
}

.mb-0 {
    padding-bottom: 5px;
}

.bg-white {
    background-color: #fff;
}

@font-face {
    font-family: 'aston';
    src: url('/Web/Fonts/Astonpoliz.otf');
}

/* Aplicar la fuente a los textos principales del navbar */
.nav-link,
.log button {
    font-family: 'aston', sans-serif;
    /* Aplica la fuente 'aston' y fallback a sans-serif */
    /* Otros estilos como tamaño, color, etc. */
}

/* Ajustar tamaño y color del texto en los enlaces del navbar */
.nav-link {
    font-size: 18px;
    /* Tamaño deseado */
    color: grey;
    /* Color deseado */
}
.dropdown-item {
    font-family: 'aston', sans-serif;
    /* Aplica la fuente 'aston' y fallback a sans-serif */
    font-size: 16px;
    /* Tamaño deseado del texto */
    color: #333;
    /* Color deseado del texto */
}

.dropdown-item h6 {
    font-size: 18px;
    /* Tamaño deseado para los títulos */
    margin-bottom: 5px;
    /* Espaciado inferior */
}

.dropdown-item small {
    font-size: 12px;
    /* Tamaño deseado para el texto pequeño */
    color: #666;
    /* Color deseado para el texto pequeño */
}

.navbar img {
    width: 60px;
}

.navbar {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.navbar-brand {
    padding: 23.5px 20px;
    font-size: 18px;
}

.navbar-nav {
    width: 100%;
    justify-content: center;
}

.nav-item {
    padding: 20px 8px;
    margin: 0px 3px;
    text-align: center;
    border-radius: 5px;
    font-size: 16px;
    color: grey;
    position: static;
}

.nav-item.active {
    color: grey;
}

.nav-item:hover {
    color: grey;
}

a {
    color: inherit !important;
}

.nav-link {
    padding: 5px;
    position: relative;
    display: inline-block;
    transition: all 0.3s ease;
}

.nav-link::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: rgba(221, 165, 10, 0.817);
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out;
}

.nav-link:hover::before,
.nav-link.active::before {
    visibility: visible;
    transform: scaleX(1);
}

.navbar-collapse.collapse.in {
    display: block !important;
}

.fa-angle-down {
    padding-left: 10px;
}

.fa-icon {
    font-size: 30px;
    color: #fff;
    background-color: rgb(75, 62, 160);
    margin: 2px 10px 5px 0px;
    border-radius: 10px;
    width: 50px;
    height: 50px;
}

.dropdown-menu {
    margin-top: 0px;
    border: none;
    background-color: #e5e8f5;
    padding: 50px 50px 30px 50px;
}

#dropdown-menu1 {
    position: absolute;
    left: 365px;
}

#dropdown-menu2 {
    position: absolute;
    left: 285px;
}

#dropdown-menu3 {
    position: absolute;
    left: 415px;
}

.tab {
    margin-bottom: 20px;
    width: 230px;
}

.tab:hover {
    color: rgba(221, 165, 10, 0.817)!important;
}

.dropdown-item {
    padding: 0px;
}

.dropdown-item:hover {
    background-color: inherit;
}

.log{
    margin-bottom: 20px;
}

.log button {
    position: relative;
    z-index: 1;
    overflow: hidden;
    border: none;
    border-radius: 9px;
    padding: 0.4rem 1.9rem;
    font-size: 16px;
    background-color: rgb(219, 113, 194);
    color: white;
    transition: all .7s ease-in-out;
    margin-top: 18px;
}

.log button:hover {
    color: rgb(209, 124, 198);
}

.log button::before {
    position: absolute;
    display: inline-block;
    top: 0;
    left: 0;
    z-index: -1;
    border-radius: 9px;
    width: 0;
    height: 100%;
    content: "";
    background-color: white;
    transition: all 700ms ease-in-out;
}

.log button:hover::before {
    left: unset;
    right: 0;
    width: 100%;
    transform: rotate(180deg);
}

@media (max-width: 978px) {
    .navbar-nav {
        flex-direction: column;
        align-items: center;
    }

    .nav-item {
        width: 60%;
        text-align: center;
        padding: 10px 0;
    }

    p{
        font-size: 1.5rem;
    }

    .btns{
        margin-right: 0px;
    }

    .dropdown-menu {
        left: 0 !important;
        position: relative !important;
        padding: 20px;
    }

    .log {
        text-align: center;
        margin-top: 10px;
    }
}

::-webkit-scrollbar {
    width: 12px;
    /* Ancho de la barra de desplazamiento */
}

/* Cambia el color del track (fondo) de la barra de desplazamiento */
::-webkit-scrollbar-track {
    background: #f1f1f1;
    /* Color del fondo */
}

/* Cambia el color del thumb (barra que se desplaza) de la barra de desplazamiento */
::-webkit-scrollbar-thumb {
    background: #4DB7FE;
    ;
    /* Color del thumb */
}

/* Cambia el color del thumb al pasar el cursor sobre él */
::-webkit-scrollbar-thumb:hover {
    background: rgb(219, 113, 194);
    /* Color del thumb al pasar el cursor */
}

/* Para Firefox */
body {
    padding-top: 90px;
    /* Ajusta este valor según la altura de tu navbar */
}